h2 {
    text-align: center;
    /* margin-bottom: 2px; */
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: xx-large;
}

   
.container.contact-container {
    width: 58%;
    display: grid;
    grid-template-columns: 30% 58%;
    gap: 8rem;
    margin: 0 auto;
}

.contact-options {
    display: flex;
    flex-direction: column;
    gap: .2rem;

}

.contact-option {
    background: rgb(201, 172, 137);
    /* padding: 1.2rem; */
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid maroon;
    transform: rgb(190, 113, 113);
    transition: 1s all;
}

.contact-option:hover {
    background: transparent;
    border-color: rgb(250, 236, 236);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);

    
}

.contact-option-icon {
    font-size: 1.5rem;
    margin-bottom:  0.5rem;
}
.contact-option a{
    margin-top: 0.7rem;
    display: inline-block;
    font-size: 0.8rem;
}

/* ==================FORM -===================*/

form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin-top: 140px;
}


input, textarea {
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 2px solid black;
    resize: none;
    color: white;

}

  /* ------------MEDIA QUERIES MEDIUM DEVICES */
  @media screen and (max-width: 1024px) {
  
    .container.contact-container {
        grid-template-columns: 1fr;
        gap: 2rem;
    }
  }
  
  
  /* ------------MEDIA QUERIES small DEVICES */
  @media screen and (max-width: 600px) {
    .container.contact-container {
      width: var(--container-width-sm);
    }
  }