
.services-page::before {
    content: ""; 
    background-image: url('../../assets/textured_background.png'); 
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center center;

    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    z-index: -1; 
    opacity: 1; 
}
.card-content {
    height: auto; /* ensure content determines the height */
     /* reduce padding if needed */
}

