.services-page {
    position: relative;
}

.services-page::before {
    content: ""; 
    background-image: url('../../assets/textured_background.png'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    z-index: -1; 
    opacity: 1; /* Corrected this to a valid value between 0 and 1 */
}
