/* Register.css */
.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(to bottom, #d1c6b3, #d39c4f);
}

.register-heading {
  font-size: 28px;
  margin-bottom: 20px;
}

.register-form {
  width: 300px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.register-input {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
}

.register-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.register-button:hover {
  background-color: #0056b3;
}

/* AnotherRegister.css */
.register-container {
  background-color: #f0e2c9; /* Different background color */
}

.register-button {
  background-color: #dc3545; /* Different background color */
}

.register-button:hover {
  background-color: #c82333; /* Different background color */
}
